# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Microsoft Office temp files
~$*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Node (nếu có sau này)
node_modules/
